<%
  require 'rexml/document'

  ####initializes bookTitles
  file1 = File.new("public/books/books.xml")
  doc1 = REXML::Document.new(file1)
  bookIndex = doc1.root
  bookTitles = Hash.new
  count = 0
  bookIndex.each_element('book') do |books|
    bookTitles[count] = books.attributes['name']
    count += 1
  end
  bookTitles.sort
  
%>

<%= stylesheet_link_tag("main") %>



<head><title>List of Books</title><link rel="SHORTCUT ICON" href="/athena.ico"/></head>
<div class="header">
<table align="left" border="0" cellspacing="0" cellpadding="1">
<tr>
<td>
	Follow us on: 
</td>
<td>
	<a href=http://twitter.com/athenabooks> Twitter <img src="/images/twitter.png" class="texttop" /><a/> 
</td>
</tr>
</table>

<table align="right" border="0" cellspacing="0" cellpadding="1">
<tr>	
	<td id="fader">
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%- end -%>
	</td>

	<% if current_user %>
		<td>
			<%= link_to "Home", root_path %> |
		</td>
		<td>
			<%= link_to "Forums", forums_path %> | 
		</td>		
		<td>
			<%= link_to "Logout", logout_path %>
		</td>
	<% else %>
		<td>
			<%= link_to "Home", root_path %> |
		</td>
		<td>
			<%= link_to "Forums", forums_path %> | 
		</td>	
		<td>
			<%= link_to "Register", new_user_path %> | 
		</td>
		<td>
			<%= link_to "Login", login_path %>
		</td>
	<% end %>
<td>
	<!-- AddThis Button BEGIN -->

	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cf2b3af0987a03e"></script>
 	<!-- AddThis Button END -->
</td>
</tr>
</table>
</div>
<Br>
<div class= "boxbruce">

<h1 align="center">List of Books</h1>

<%=  ####Print Book Titles
chapterTitles = '<h2>Books</h2>'
if count != 0
  bookTitles.each_value do |bookTitle|
    chapterTitles += '<a href="/books/' + bookTitle.delete(' ') + '">' + bookTitle + '</a><br>'
  end
end
if chapterTitles == '<h2>Books</h2>'
  chapterTitles = 'There are no books.'
end
chapterTitles
%>

</div>

<br>
<div class="footer">
	<table align="center" border="0" cellspacing="0" cellpadding="1">
		<tr>
			<td>
				 &copy; 2010 Athena - free books for all of the world since 2010. <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Terms of Use", terms_path %>
			</td>
		</tr>
	</table>
</div>
